.nav {
	display: inline;
	float: left;
	width: 10em;
}

.view {
	display: inline;
}

.menuButtonOpen, .menuButtonClosed {
	display: none;
}

.editBody textarea {
	width: 70%;
	height: 70vh;
}

@media only screen and (max-width : 600px) {
	.editBody textarea {
		width: 60%;
	}
}
