<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="css/mobile.css" media="handheld,only screen and (max-width:480px)"/>
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="handheld,only screen and (min-width:480px)"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/axios/dist/axios.standalone.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/CryptoJS/rollups/hmac-sha256.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/CryptoJS/rollups/sha256.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/CryptoJS/components/hmac.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/CryptoJS/components/enc-base64.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/url-template/url-template.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/apiGatewayCore/sigV4Client.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/apiGatewayCore/apiGatewayClient.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/apiGatewayCore/simpleHttpClient.js"></script>
    <script type="text/javascript" src="js/wikiapi/lib/apiGatewayCore/utils.js"></script>
    <script type="text/javascript" src="js/wikiapi/apigClient.js"></script>
  </head>
  <body>

    <div ng-app="myApp" class="page ng-scope ng-binding ng-class:{loggedIn: authuser!='',anon: authuser==''};">

      <div id="nav" class="nav ng-class:{menuClosed: menuState!='open',menuOpen: menuState=='open'};">
        <div class="menuButtonOpen">
         <a href="#" ng-click="menuState='closed'">Close Menu</a>
        </div>
        <div class="menuButtonClosed">
         <a href="#" ng-click="menuState='open'">Open Menu</a>
        </div>
        <div class="navItems">
          <a href="#/!"><div>Home</div></a>
          <a href="#/!" class="userItem"><div>Login</div></a>
          <a href="#/!" class="anonOnly"><div>Logout</div></a>
        </div>
      </div>

      <div class="header">
      </div>

      <div class="ng-view view"></div>

      <div class="footer">
      </div>

      <script type="text/javascript" src="js/app.js"></script>
    </div>
  </body>
</html>
